
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about__container {
    width: 45vw;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__profile-photo{
    background: url('../../images/jack.jpeg') center no-repeat;
    height: 90%;
    width: 90%;
    max-width: 54.2rem;
    margin: $m-size;
    box-shadow: 1.2rem 1.2rem 0.3rem rgba(0, 0, 0, .1);
    border: 0.1em solid $shade-2
}


.about__title .about__subtitle {
    color: $shade-2;

}

.about__icons {
    display: flex;
    justify-content: space-around;
    padding: $s-size;
}

.about__icon {
    font-size: $l-size;
    transition:0.3s ease-in-out;

    &:hover{
        font-size: 4.0rem;
    }
}



@media(max-width: $breakpoint-mobile) {

    .about{
        flex-direction: column;
    }

    .about__container{
        width: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: $s-size;
    }

    .about__profile-photo {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
}