.blurb{
    display: inline-block;
}

.blurb__name{
    text-decoration: underline #fdfeff;
    width: auto;
    color: black;

    &:hover {
        text-decoration: underline $highlight-blue;
    }
}