
.contents{
    margin-top: 6vh;
    width: 100%;
    max-width: 80rem;
    min-height: 100vh;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}



@media(max-width: $breakpoint-mobile) {

    .contents{
        min-height: calc(100vh - 162px);
    }
}