.header__navlink {
    font-size: $l-size;
}

.header__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: space-around;
}

.header{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 14vh;
}