.header{
    position: fixed;
    width: 100vw;
    height: 9vh;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // box-shadow: 0.1rem 0.2rem 1.8rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid $shade-2;
    z-index: 3;
}

.header__navlink {
    font-size: $l-size;
    color: $shade-2;
    padding: $m-size;
    border-radius: $m-size;
    text-decoration: none;
}


.is-active{
    font-style: bold;
}