.photos {
    height: 91vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    overflow: hidden;
    top: 0;
    left: 0;
}


.photos__button-left, .photos__button-right {
    background: transparent;
    border: none;
    z-index: 2;
    position: absolute;
    font-size: $l-size;
    color: white;
    transition: all 0.2s ease-in-out ;

    &:hover{
        transform: scale(1.3);
    }
}


.photos__button-left {
    bottom: 50%;
    left: 2rem;

}

.photos__button-right {
    bottom: 50%;
    right: 2rem;

}

.photos__arrow-left, .photos__arrow-right {
    opacity: 50%;
    transition: all 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }
}


.photos__pane {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}

// what even is this? 

.active {
    z-index: 1;
}

.not-active{
    z-index: 0
}

.photos__long-image {
    width: 100%;
    height: 40vw;
}

.photos__tall-image {
    width: 100%;
    max-height: 200vw
}