html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $m-size;
    background-color: white;

}

button {
    cursor: pointer;

}

a {
    text-decoration: none;
    color: inherit;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}
