html {
    font-size: 62.5%;
}

body {
    font-family:'Rubik', sans-serif;
    font-size: $m-size;
    background-color: #fdfeff;

}

*::selection{
    background: $highlight-blue;
}

*::-moz-selection{
    background: $highlight-blue;
}

h1 + h2 + h3 + h4{
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;

}

a {
    text-decoration: none;
    color: inherit;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}
