// Colours:
$light-green: #c2e8ce;
$off-white: #f2eee5;
$burnt-orange: #f6ad7b;
$light-maroon: #be7575;
$light-gray: #999999;
$dark-gray: #333333;
$slightly-blue: #ecf4ff;

$color-1: $off-white;
$color-2: $light-green;
$color-3: $burnt-orange;
$color-4: $light-maroon;
$color-5: $slightly-blue;
$shade-1: $light-gray;
$shade-2: $dark-gray;


// bg-near-black
// bg-lightest-blue
// bg-washed-blue
// bg-moon-gray

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// $desktop-breakpoint: 45rem;


$breakpoint-mobile: 45rem;